mat-card([style.display]="'flex'", [formGroup]="parentGroup")
  mat-card-content([formArrayName]="option.key", style="margin:0; padding:0")
    ng-container(*ngFor="let w of pGroup; let i=index")
      ul.input-list.horizontal-list([formGroup]="pGroup[i]")
        li(*ngIf="parentGroup.controls[option.key].controls.length > 1")
          mat-icon((click)="jsf.removeItem(parentGroup, option.key, i)") {{closeButton}}   
        li
          mat-input-container
            input(matInput,
              placeholder="{{option.items[0].title | mk_ng2_i18n: page.pageID}}",
              id="{{option.items[0].key}}",
              [style.width]="option.items[0].width",
              (focusout)="focusOutFunction(option.items[0].key)",
              [formControlName]="option.items[0].key")
            mat-hint(align="end") {{ option.items[0].hint | mk_ng2_i18n: page.pageID }}
            mat-error {{ formErrors[option.items[0].key] }}
        li
          mat-input-container
            input(matInput,
              placeholder="{{option.items[1].title | mk_ng2_i18n: page.pageID}}",
              id="{{option.items[1].key}}",
              [style.width]="option.items[1].width",
              (focusout)="focusOutFunction(option.items[1].key)",
              [formControlName]="option.items[1].key")
            mat-hint(align="end") {{ option.items[1].hint | mk_ng2_i18n: page.pageID }}
            mat-error {{ formErrors[option.items[1].key] }}

div
  a((click)="jsf.addItem(schema, parentGroup.controls, option.key, data)", 
        style="cursor: pointer") custmize add +++