mat-card
  mat-form-field
    input(matInput, placeholder="ページID", [(ngModel)]="pageId")
  mat-form-field
    mat-select(placeholder="ページ種別", [(ngModel)]="pageId", (ngModelChange)="pageSet()")
      mat-optgroup(*ngFor="let group of samplePage.group", [label]="group.title")
        mat-option(*ngFor="let page of group.items", [value]="page.key") {{ page.name }}
  mat-radio-group([(ngModel)]="lang", (ngModelChange)="changeLang()")
    mat-radio-button(value="1", color="primary") 日本語
    mat-radio-button(value="2", color="primary") English

//- 自動生成フォーム
mat-card(*ngIf="viewFlag")
  div(fxLayout='row')
    div(fxFlex="70", *ngIf="message !== null && master !== null")
      mat-card
        js-form(
          [combine]="combine",
          [debug]="true",
          (onClick)="submit($event)")
    div.result(fxFlex="30")
      div(*ngIf="payLoad")
        strong 入力された値 <br/>
        pre([innerHTML]="payLoad | json")
        hr
      //- 右サイド
      mat-card-title ページ一覧
      mat-card-content
        button(mat-raised-button, color="primary", (click)="registFavorite()") ページ保存
        section(*ngFor="let str of favoriteList; let i = index")
          header
            h4([innerHtml]="str")
            a.with-link(href="javascript:void(0)", (click)="readFavorite(i)") 読込
            | &nbsp;
            a.with-link(href="javascript:void(0)", (click)="updateFavorite(i)") 更新
            | &nbsp;
            a.with-link(href="javascript:void(0)", (click)="removeFavorite(i)") 削除

mat-card
  div(fxLayout='row')
    div(fxFlex="100", fxLayout="column", fxLayout.xs="row")
      //- コントロール
      div(fxLayout="row")
        button(mat-raised-button, color="primary", (click)="ymlChange(true)") 更新
      hr
      //- 定義体
      div(fxFlex="40", fxLayout="row", fxLayout.xs="column")
        div(fxFlex="30") 
          mat-card-title form layout
            | &nbsp;
            a.with-link(id="form-exports", target="_blank", (click)="exports('form-exports', 'form-contents', 'form.yml')") exports
            | &nbsp;<br />imports&nbsp;
            input.with-link(id="form-imports", type="file", (click)="imports('form-imports', 'form-contents')", value="imports")
          mat-card-content
            textarea(
              [(ngModel)]="formString",
              id="form-contents", 
              rows="20",
              cols="40")
        div(fxFlex="30")
          mat-card-title JOSN Schema
            | &nbsp;
            a.with-link(id="schema-exports", target="_blank", (click)="exports('schema-exports', 'schema-contents', 'schema.yml')") exports
            | &nbsp;<br />imports&nbsp;
            input.with-link(id="schema-imports", type="file", (click)="imports('schema-imports', 'schema-contents')", value="imports")
          mat-card-content
            textarea(
              [(ngModel)]="ymlString",
              id="schema-contents",  
              rows="20",
              cols="40")
        div(fxFlex="30")
          mat-card-title DATA
            | &nbsp;
            a.with-link(id="data-exports", target="_blank", (click)="exports('data-exports', 'data-contents', 'data.json')") exports
            | &nbsp;<br />imports&nbsp;
            input.with-link(id="data-imports", type="file", (click)="imports('data-imports', 'data-contents')", value="imports")
          mat-card-content
            textarea(
              [(ngModel)]="dataString",
              id="data-contents",  
              rows="20",
              cols="40")
